.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}

#position-chart path {
   stroke: white;
   stroke-width: 4;
}

#complete-chart path {
   stroke: white;
   stroke-width: 4;
}

.dc-select-menu {
   background: grey;
   width: 100%;
   border: none;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;

}

@media (min-width: 992px){
   #left {
      position: fixed;
      top: 70px;
      bottom: 0;
   }
   #right {
      top: 0;
      bottom: 0;
   }
   #selectionsRow {
       padding-left: 5px;
       padding-right: 5px;
   }
   #teamLogo {
       margin-top: 30px;
   }
}

/*@media (max-width: 500px){
    .introjs-helperNumberLayer {
        left: 0px !important;
        top: -10px !important;
    }
    .introjs-tooltip {
        margin-top: 40px !important;
    }
}*/

#fullBody {
    background-color: #141C29;
    font-family: 'Carrois Gothic SC', sans-serif;
}

#left {
    background-color: #141C29;
}

#right {
    padding: 10px;
    background-color: #141C29;
}

.introjs-fixedTooltip {
    background-color: transparent !important;
    border: 3px solid white !important;
}

.chart-wrapper {
    border: 1px solid darkgrey;
}

.chart-wrapper .chart-title {
    background-color: #5bc0de;
    color: white;
}


