.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}

#position-chart path {
   stroke: white;
   stroke-width: 4;
}

#complete-chart path {
   stroke: white;
   stroke-width: 4;
}

.dc-select-menu {
   background: #33CC99;
   width: 100%;
   border: none;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;

}

@media (min-width: 992px){
   #left {
      position: fixed;
      top: 70px;
      bottom: 0;
   }
   #right {
      top: 0;
      bottom: 0;
   }
   #selectionsRow {
       padding-left: 5px;
       padding-right: 5px;
   }
   #teamLogo {
       margin-top: 50px;
   }
}

#fullbody {
    background-color: #141C29;
    font-family: 'Carrois Gothic SC', sans-serif;
}

#left {
    background-color: #141C29;
}

#right {
    padding: 10px;
    background-color: #141C29;
}