<!DOCTYPE html>
<html>
<head>
  <title>Football Analyst</title>
    <!--meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- links -->
  <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',filename='css/custom.css')}}">
  <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />
</head>
<body class="application">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-step="1" data-intro="Welcome to the Football Analyst Tool. This guide will show you how to navigate the tool and get the information you want. Let's get started!" style="font-weight: normal" data-position="right">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Football Analyst</a>
        <a href="javascript:dc.filterAll();dc.renderAll();" class="btn btn-info" role="button" style="margin-top: 7px">Reset All</a>
        <button class="btn btn-default" type="button" style="margin-top: 7px" onclick="javascript:introJs().start();">Start Tour!</button>
      </div>
    </div>
  </div>
  <div  id="outer" class="container-fluid">
    <div class="row">
      <!-- team select -->
      <div class="col-sm-3">
        <div class="chart-wrapper" data-step="2" data-intro="Select the team you would like to focus on or leave it unseleced to use all teams." style="font-weight: normal" data-position="right">
          <div class="chart-title">
            Team
          </div>
          <div class="chart-stage">
            <div id="team-menu-select"></div>
          </div>
        </div>
      </div>
      <!-- team select -->
      <!-- pass/rush select -->
      <div class="col-sm-3">
        <div class="chart-wrapper" data-step="3" data-intro="Run or Pass? Select the type of play you would like to focus on. Leave it unselected if you want all plays." style="font-weight: normal" data-position="right">
          <div class="chart-title">
            Play Type
          </div>
          <div class="chart-stage">
            <div id="pass-or-rush-menu-select"></div>
          </div>
        </div>
      </div>
      <!-- pass/rush select -->
      <!-- Total Plays -->
      <div class="col-sm-3">
        <div class="chart-wrapper" data-step="4" data-intro="This keeps track of the number of plays based on your filters." style="font-weight: normal" data-position="right">
          <div class="chart-title">
            Total Plays
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="number-plays-nd"></div>
          </div>
        </div>
      </div>
      <!-- Total Plays -->
      <!-- Total Yards -->
      <div class="col-sm-3">
        <div class="chart-wrapper" data-step="5" data-intro="This keeps track of the number of yards based on your filters." style="font-weight: normal" data-position="right">
          <div class="chart-title">
            Total Yards
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="total-yards-nd"></div>
          </div>
        </div>
      </div>
      <!-- Total Yards -->
      <!-- Advaced Options -->
      <!--div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Advanced Options
          </div>
          <div class="chart-stage">
            <form action="" method="">
              <input type="checkbox" value="underTwoMinutes"> Under 2 minutes<br>
            </form>
            <div id="pass-or-rush-menu-select"></div>
          </div>
        </div>
      </div-->
      <!-- Advanced Options -->
      <!--div class="col-sm-2">
        <a href="javascript:dc.filterAll();dc.renderAll();" class="btn btn-info" role="button">Reset All</a>
      </div-->
    </div>
    <div id="weeklyRow" class="row">
      <!-- Plays Chart -->
      <div class="col-sm-6">
        <div class="chart-wrapper" data-step="6" data-intro="The weekly yards breakdown chart shows how many yards were gained during each game." style="font-weight: normal" data-position="right">
          <div class="chart-title">
            Weekly Yards
          </div>
          <div class="chart-stage">
            <div id="yards-chart" style="width: 100%"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="chart-wrapper" data-step="7" data-intro="The weekly plays breakdown chart shows how many pass/run plays were run during each game." style="font-weight: normal" data-position="right">
          <div class="chart-title">
            Weekly Pass vs Run Plays
          </div>
          <div class="chart-stage">
            <div id="plays-chart" style="width: 100%"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="DownQuarterRow" class="row">
      <!-- Plays Chart -->
      <!-- Down Row Chart -->
      <div class="col-sm-6">
        <div class="chart-wrapper" data-step="8" data-intro="The downs bar chart show you how many plays were run during each down. Click on any of the bars to focus on a specific down or select multiple downs to expand your search." style="font-weight: normal" data-position="right">
          <div class="chart-title">
            Down
          </div>
          <div class="chart-stage">
            <div id="down-row-chart" style="width: 100%;"></div>
          </div>
        </div>
      </div>
      <!-- Down Row Chart -->
      <!-- Time Row Chart -->
      <!--div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            Time Remaining
          </div>
          <div class="chart-stage">
            <div id="time-row-chart"></div>
          </div>
        </div>
      </div-->
      <!-- Time Row Chart -->
      <!-- Quarter Row Chart -->
      <div class="col-sm-6">
        <div class="chart-wrapper" data-step="9" data-intro="The quarters bar chart show you how many plays were run during each quarter. Click on any of the bars to focus on that specific quarter or select multiple quarters to expand your search." style="font-weight: normal" data-position="right">
          <div class="chart-title">
            Quarter
          </div>
          <div class="chart-stage">
            <div id="quarter-row-chart" style="width: 100%"></div>
          </div>
        </div>
      </div>
      <!-- Quarter Row Chart -->
    </div>
    <div id="passRow" class="row">
      <!-- Yards Chart -->
      <!--div class="col-sm-9">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Yards by Week
          </div>
          <div class="chart-stage">
            <div id="yards-chart"></div>
          </div>
        </div>
      </div-->
      <!-- Yards Chart -->
      <!-- Complete/Incomplete Pie Chart-->
      <div class="col-sm-4">
        <div class="chart-wrapper" data-step="10" data-intro="The completions chart shows what percentage of passes were completed or imcomplete. Hover over the pie slice to see the actual number of attempted passes." style="font-weight: normal" data-position="right">
          <div class="chart-title">
            Complete/Incomplete Pass
          </div>
          <div class="chart-stage">
            <div id="complete-chart" style="width: 100%"></div>
          </div>
        </div>
      </div>
      <!-- Complete/Incomplete Pie Chart -->
      <!-- Pass Location Row Chart -->
      <div class="col-sm-4">
        <div class="chart-wrapper" data-step="11" data-intro="The pass location chart shows where the passes were attempted. Click on the left bar chart to see how your results are affected." style="font-weight: normal" data-position="right">
          <div class="chart-title">
            Pass Location
          </div>
          <div class="chart-stage">
            <div id="pass-location-row-chart" style="width: 100%"></div>
          </div>
        </div>
      </div>
      <!-- Pass Location Row Chart -->
      <!-- Pass to Position Pie Chart -->
      <div class="col-sm-4">
        <div class="chart-wrapper" data-step="12" data-intro="The pass to position breakdown chart shows the distribution of passes to the wide receiver, tight end, running back, or other positions (full back, elgible tackle, etc)." style="font-weight: normal" data-position="right">
          <div class="chart-title">
            Pass to Position Breakdown
          </div>
          <div class="chart-stage">
            <div id="position-chart" style="width: 100%"></div>
          </div>
        </div>
      </div>
      <!-- Pass to Position Pie Chart --> 
      <!-- Air Yards Row Chart -->
      <!--div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Pass Length
          </div>
          <div class="chart-stage">
            <div id="passlength-row-chart"></div>
          </div>
        </div>
      </div-->
      <!-- Air Yards Row Chart --> 
    </div>
    <div id="runRow" class="row">   
      <!-- Run Location Row Chart -->
      <div class="col-sm-6">
        <div class="chart-wrapper" data-step="13" data-intro="The run location chart shows which direction the run was going." style="font-weight: normal" data-position="right">
          <div class="chart-title">
            Run Location
          </div>
          <div class="chart-stage">
            <div id="run-location-row-chart" style="width: 100%"></div>
          </div>
        </div>
      </div>
      <!-- Run Location Row Chart -->
      <!-- Run Gap Row Chart -->
      <div class="col-sm-6">
        <div class="chart-wrapper"  data-step="14" data-intro="The run gap chart illustrates where on the offensive line the run was going. Want to see which runs went over the left guard? Click on the guard bar in this chart and the left bar in the run location chart." style="font-weight: normal" data-position="right">
          <div class="chart-title">
            Run Gap
          </div>
          <div class="chart-stage">
            <div id="run-gap-row-chart" style="width: 100%"></div>
          </div>
        </div>
      </div>
      <!-- Run Gap Row Chart --> 
    </div>
  </div>
  <hr>
  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
  <script src="{{url_for ('static', filename='lib/js/intro.js')}}" type="text/javascript"></script>

</body>
</html>