<!DOCTYPE html>
<html>
    <head>
        <title>Football Analyst</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/keen-dashboards.css')}}">
        <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/dc.css')}}">
        <link rel="stylesheet" href="{{ url_for ('static',filename='css/custom2.css')}}">
        <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/introjs.css')}}" />
        <link rel="stylesheet" href="{{url_for ('static', filename='lib/css/normalize.css')}}" />

        <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    </head>
    <body id="fullBody" class="application">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="./">Football Analyst</a>
                <div class="navbar-header">
                    <a href="javascript:dc.filterAll();dc.renderAll();setTeamLogo('NFL')" class="btn btn-info" role="button" style="margin-top: 7px">Reset All</a>
                    <button class="btn btn-default" type="button" style="margin-top: 7px" onclick="javascript:introJs().start();" data-step="1" data-intro="Welcome to the Football Analyst Tool. This guide will show you how to navigate the different graphs, apply filters, and interpret the information so you can dominate the competition. During the tour, Team selection and Play Type selection are DISABLED. Let's get started!" style="font-weight: normal" data-position="bottom">Start Tour!</button>
                </div>
            </div>
        </div>
        <!-- outer -->
        <div id="outer" class="container-fluid">
            <!-- main row -->
            <div id="mainRow" class="row">
                <!-- left fixed column -->
                <div id="left" class="col-md-2">
                    <!-- selection row -->
                    <div id="selectionsRow" class="row">
                        <!-- team select -->
                        <div class="col-sm">
                            <div class="chart-wrapper" data-step="2" data-intro="Select the team you would like to focus on or use select all to see the entire league." style="font-weight: normal" data-position="bottom" data-disable-interaction="true">
                              <div class="chart-title">
                                Team
                              </div>
                              <div class="chart-stage">
                                <div id="team-menu-select" style="width: 100%"></div>
                              </div>
                            </div>
                        </div>
                        <!-- team select -->
                        <!-- pass/rush select -->
                        <div class="col-sm">
                            <div class="chart-wrapper" data-step="3" data-intro="Run or Pass? Select the type of play you would like to focus on. Use select all to see both." style="font-weight: normal" data-position="bottom" data-disable-interaction="true">
                              <div class="chart-title">
                                Play Type
                              </div>
                              <div class="chart-stage">
                                <div id="pass-or-rush-menu-select" style="width: 100%"></div>
                              </div>
                            </div>
                        </div>
                        <!-- pass/rush select -->
                        <!-- Total Plays -->
                        <div class="col-sm">
                            <div class="chart-wrapper" data-step="4" data-intro="The Total Plays tracker keeps a running counter of the plays run based on current filters. More on filters later." style="font-weight: normal" data-position="bottom">
                              <div class="chart-title">
                                Total Plays
                              </div>
                              <div class="chart-stage" style="background: grey;
                                position: relative;
                                font-size: 29px;
                                color: white;
                                vertical-align: middle;
                                text-align: center;
                                padding-top: 0px;
                                padding-bottom: 0px;">
                                <div id="number-plays-nd"></div>
                              </div>
                            </div>
                        </div>
                        <!-- Total Plays -->
                        <!-- Total Yards -->
                        <div class="col-sm">
                            <div class="chart-wrapper" data-step="5" data-intro="Similar to the previous tracker, the Total Yards tracker keeps a running counter of the yards gained based on current filters." style="font-weight: normal" data-position="bottom">
                              <div class="chart-title">
                                Total Yards
                              </div>
                              <div class="chart-stage" style="background: grey;
                                position: relative;
                                font-size: 29px;
                                color: white;
                                vertical-align: middle;
                                text-align: center;
                                padding-top: 0px;
                                padding-bottom: 0px;">
                                <div id="total-yards-nd"></div>
                              </div>
                            </div>
                        </div>
                        <!-- Total Yards -->
                        <!-- Team Logo -->
                        <div id="teamLogo" class="col-md hidden-sm hidden-xs">
                            <div style="width: 100%" align="center">
                                <img id="logo" src="/static/img/NFL.svg" width="75%" height="75%">
                            </div>
                        </div>
                        <!-- Team Logo -->
                    </div>
                    <!-- selection row -->
                </div>
                <!-- left fixed column -->
                <!-- right column -->
                <div id="right" class="col-md-offset-2">
                    <!-- week and down row -->
                    <div id="weekAndDown" class="row">
                        <!-- Weekly Yards Chart -->
                        <div class="col-md-8 col-sm-12">
                            <div class="chart-wrapper" data-step="6" data-intro="The Weekly Yards chart breaks down how many yards were gained during each week of the season." style="font-weight: normal" data-position="bottom">
                                <div class="chart-title">
                                    Weekly Yards
                                </div>
                                <div class="chart-stage">
                                    <div id="yards-chart" style="width: 100%"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Weekly Yards Chart -->
                        <!-- Down Row Chart -->
                        <div class="col-md-4 col-sm-12">
                            <div class="chart-wrapper" data-step="7" data-intro="The Downs chart shows you how many plays were run during each specific down." style="font-weight: normal" data-position="bottom">
                                <div class="chart-title">
                                    Down
                                </div>
                                <div class="chart-stage">
                                    <div id="down-row-chart" style="width: 100%;" data-step="8" data-intro="Applying a filter: In each of the following bar and pie charts, you can narrow your focus of information. For example, click on the BLUE bar.  This will allow you to focus on first down plays. Select as many items as you want. Watch how other charts are affected by your filters." style="font-weight: normal" data-position="bottom"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Down Row Chart -->
                    </div>
                    <!-- week and down row -->
                    <!-- plays and qtr row -->
                    <div id="playsAndQtrRow" class="row">
                        <!-- Weekly Plays Chart -->
                        <div class="col-md-8 col-sm-12">
                            <div class="chart-wrapper" data-step="9" data-intro="The Weekly Plays chart breaks down how many plays were run during each week of the season." style="font-weight: normal" data-position="bottom">
                                <div class="chart-title">
                                    Weekly Pass vs Run Plays
                                </div>
                                <div class="chart-stage">
                                    <div id="plays-chart" style="width: 100%"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Weekly Plays Chart -->
                        <!-- Quarter Row Chart -->
                        <div class="col-md-4 col-sm-12">
                            <div class="chart-wrapper" data-step="10" data-intro="The Quarters chart shows you how many plays were run during each specific quarter." style="font-weight: normal" data-position="bottom">
                                <div class="chart-title">
                                    Quarter
                                </div>
                                <div class="chart-stage">
                                    <div id="quarter-row-chart" style="width: 100%"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Quarter Row Chart -->
                    </div>
                    <!-- plays and qtr row -->
                    <!-- Pass Row -->
                    <div id="passRow" class="row">
                        <!-- Complete/Incomplete Pie Chart-->
                        <div class="col-md-4 col-sm-12">
                            <div class="chart-wrapper" data-step="11" data-intro="The Completions chart shows what percentage of passes were completed or incomplete." style="font-weight: normal" data-position="bottom">
                                <div class="chart-title">
                                    Complete/Incomplete Pass
                                </div>
                                <div class="chart-stage">
                                    <div id="complete-chart" style="width: 100%"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Complete/Incomplete Pie Chart -->
                        <!-- Pass Location Row Chart -->
                        <div class="col-md-4 col-sm-12">
                            <div class="chart-wrapper" data-step="12" data-intro="The Pass Location chart shows where on the field the passes were attempted." style="font-weight: normal" data-position="bottom">
                                <div class="chart-title">
                                    Pass Location
                                </div>
                                <div class="chart-stage">
                                    <div id="pass-location-row-chart" style="width: 100%"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Pass Location Row Chart -->
                        <!-- Pass to Position Pie Chart -->
                        <div class="col-md-4 col-sm-12">
                            <div class="chart-wrapper" data-step="13" data-intro="The Pass to Position Chart shows the distribution of passes to the wide receiver, tight end, running back, or other positions." style="font-weight: normal" data-position="bottom">
                                <div class="chart-title">
                                    Pass to Position Breakdown
                                </div>
                                <div class="chart-stage">
                                    <div id="position-chart" style="width: 100%"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Pass to Position Pie Chart -->
                    </div>
                    <!-- Pass Row -->
                    <!-- Run Row -->
                    <div id="runRow" class="row">
                        <!-- Run Location Row Chart -->
                        <div class="col-md-4 col-sm-12">
                            <div class="chart-wrapper" data-step="14" data-intro="The Run Location chart shows which direction on the field the run was going." style="font-weight: normal" data-position="bottom">
                                <div class="chart-title">
                                    Run Location
                                </div>
                                <div class="chart-stage">
                                    <div id="run-location-row-chart" style="width: 100%"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Run Location Row Chart -->
                        <!-- Run Gap Row Chart -->
                        <div class="col-md-4 col-sm-12">
                            <div class="chart-wrapper"  data-step="15" data-intro="The Run Gap chart shows where on the offensive line the run was going. TIP: Want to see which runs went over the left guard? Click on the guard bar in this chart and the left bar in the run location chart." style="font-weight: normal" data-position="bottom">
                                <div class="chart-title">
                                    Run Gap
                                </div>
                                <div class="chart-stage">
                                    <div id="run-gap-row-chart" style="width: 100%"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Run Gap Row Chart -->
                    </div>
                    <!-- Run Row -->
                </div>
                <!-- right column -->
            </div>
            <!-- main row -->
        </div>
        <!-- outer -->

        <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
        <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/intro.js')}}"></script>
    </body>
</html>